*.gem
*.db
*.log
*.html
database
*.yml~
.idea
/.idea
.idea*
/.idea/*
*.rbc
*.yml
.bundle
coverage
.swp
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.yardoc
_yardoc
rdoc/
doc/
