<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
      <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>

      <div id="Donutgraph" style="height: 250px;"></div>

      <script>
    new Morris.Donut({
        element: 'Donutgraph',
        data: [{"label":"jschmid","value":3},{"label":"vlewin","value":4},{"label":"b4mboo","value":5},{"label":"thomasschmidt","value":6},{"label":"achernikov","value":7}],
        xkey: 'label',
        colors: ['#80BFFF', '#F0F0F0', '#0000FF', '#00FFFF', '#FF00FF', '#C0C0C0'],
        ykeys: ['value'],
        labels: ['Value']
    });
</script>